*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.caja1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 2px black solid;
    background-color: aqua;
}
.caja2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 2px black solid;
    background-color: yellow;
}
.caja3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 2px black solid;
    background-color: violet;
}
.caja4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 2px black solid;
    background-color: chocolate;
}
.caja5{
    height: 200px;
    border: 2px black solid;
    background-color: chartreuse;
}
.caja6{
    height: 200px;
    border: 2px black solid;
    background-color: purple;
}
.caja7{
    height: 200px;
    border: 2px black solid;
    background-color: pink;
}
.caja8{
    height: 200px;
    border: 2px black solid;
    background-color: greenyellow;
}
.caja9{
    height: 200px;
    border: 2px black solid;
    background-color: red;
}
.caja10{
    height: 200px;
    border: 2px black solid;
    background-color: blue;
}